body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.myDiv {
    margin: auto;
    text-align: center;
    height: 6505px;
    width: auto;
}

.navHead {
    background-image: linear-gradient(#00d4ff, #0d2c7a);
    color: white;
    margin: auto;
    min-height: 1011px;
    max-height: 100%;
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;

}

p, .myButn, .thrdSecContainer h2, .frthSection aside h2 {
    font-size: 24px;
}

h2 {
    font-size: 42px;
}

.hiddenNav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.transitionNav {
    transition: all 2s linear;
}

.hiddenNav ul li {
    list-style-type: none;
    margin: 3em;
}

.hiddenNav ul li a {
    font-size: 42px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.myList { 
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    width: 508px;
    text-transform: uppercase;
    padding-left: 0;
    margin: auto 0;
}

.myNav {
    display: flex;
    justify-content: space-between;
    max-width: 1854px;
    width: 85%;
    margin: auto;
    padding-top: 2em;
}

.collapseBtn {
    display: none;
}

.escapeCollapse {
    float: left;
}

.collapseEscapeBtn {
    font-size: 42px;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    left: 2.6em;
    top: 0.7em;
}

.navBtn {
    color: white !important;
    border-color: rgba(255,255,255,.4) !important;
}

@media screen and (max-width: 1360px) {
    .collapseBtn {
        display: block;
    }
    .myList{
        display: none;
    }
    .hiddenNav {
        height: 1138px;
    }
}

@media screen and (max-width: 1160px) {
    .hiddenNav {
        height: 1172px;
    }
}

.myBtn {
    border: 3px solid white;
    border-radius: 3em;
    width: 205px;
    height: 54px;
    display: flex;
    margin-right: 25px;
}

.insideBtn {
    border: none;
    background-color: transparent;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.logo {
    height: 22px;
    position: relative;
    top: -2.5em;
}

.headPosition {
    padding: 8.81em 0;
}

.sndSection h2 {
    font-size: 42px;
}

.insideSectionHead {
    width: 60%;
    margin: 8em auto 0;
}

.insideSectionHead .textOpacity {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 24px;
    margin: auto;
}

.insideSectionHead p {
    font-size: 24px;
    font-weight: 400;
}

.headSectionParagraph {
    font-size: 72px !important;
    font-weight: 700 !important;
    max-width: 1019px;
    margin: 0 auto;
}

.sndSection {
    height: fit-content;
    background: #ffffff;
background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 23%, #ffffff 55%, #f6fafd 55%, #f0f5fb 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(23%, #ffffff), color-stop(55%, #ffffff), color-stop(55%, #f6fafd), color-stop(100%, #f0f5fb));
background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 23%, #ffffff 55%, #f6fafd 55%, #f0f5fb 100%);
background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 23%, #ffffff 55%, #f6fafd 55%, #f0f5fb 100%);
background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 23%, #ffffff 55%, #f6fafd 55%, #f0f5fb 100%);
background: linear-gradient(135deg, #ffffff 0%, #ffffff 23%, #ffffff 55%, #f6fafd 55%, #f0f5fb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f5fb', GradientType=1 );
}

.controlSize {
    max-width: 867px;
    width: 85%;
    margin: auto;
    margin-top: 0.5em;
}

.myButn {
    color: white;
    height: 105px; 
    width: 526px;
    background-color: #41BFE7;
    border-radius: 4em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    margin-top: 3em;
    margin-bottom: 6em;
    margin: 3em 0 6em;
}

.sndSection h4{
    color: #40bee6;
}


.sndSection .myButn {
    box-shadow: none;
    margin: 3em 0 7.5em;
}

.sndSecFirstArticle {
    max-width: 710px;
    width: 50%; 
    margin: auto;
    text-align: left;
}

.sndSecFirstArticle p, .sndSecSecondArticle p, .sndSecThirdArticle p {
    font-size: 17px !important;
}

.imageLaptop {
    margin: 1.2rem 0 0;
}

.sndSecThirdArticle {
    margin: auto;
    padding: 6rem 3rem 4rem;
    min-height: 385px;
    max-width: 825px;
    width: 58.5%;
    background-color: white;
}

.sndSecThirdArticle footer {
    margin: 3.6em 0 0;
    font-weight: 700;
}
.sndSecThirdArticle footer p span {
    color: #0B9ED4;
}

.thrdSection {
    background-image: linear-gradient( to left, #0B9ED4, #0F2C7A);
    color: white;
    min-height: 1327px;
}

.thrdSection .container {
    color: black;
    padding: 0;
}

.aboveBox {
    max-width: 710px;
    width: 50%;
    margin: auto;
}

hr {
    width: 70px;
    height: 4px !important;
    background-color: #e6e7e9;
    border: none;
    margin: 2.25em auto !important;
    border-top: 1px solid #e6e7e9 !important;
}

.bottomLine {
    background-image: linear-gradient( #00d4ff, #0d2c7a);
    color: white;
    padding: 6.5em 0 0;
}

.sliderDot {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: black;
    margin: 0.3rem;
    opacity: 0.3;
    margin: 0.8rem 0.3rem;
}

.sliderBtn {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0 1rem;
    background-color: white;
}

.active {
    opacity: 1;
}

.arrowsAndDots {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0;
    cursor: pointer;
}

.arrowsAndDots span {
    font-size: 3rem;
    position: relative;
    top: -24.3px;
    opacity: 0.5;

}

.firstBtn span {
    left: -1.5px;
}

.secondBtn span {
    left:  1.5px;
}

.boxBorder {
    background-color: white;
    max-width: 370px;
    min-height: 332px;
    margin: 0 1.18em;
    text-align: left;
    padding-left: 2.5em !important;
    min-width: 25%;
    border-radius: 5px;
}

.boxBorder .circle {
    height: 109px;
    width: 109px;
    background-color: #00d4ff;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -54.5px;
}

.box1 {
    margin-left: 10%;
}

.box2 {
    margin-left: 23.5%;
}

.boxBorder h2 {
    font-size: 24px;
    margin: 0 0 1em;
}

.boxBorder p {
    font-size: 17px;
    margin-bottom: 2em;
}

.btStrapWidth {
    max-width: 6.3% !important;
}

.frthSection {
    height: fit-content;
    padding: 8.81em;
    background: #f0f5fa;
background: -moz-linear-gradient(45deg, #f0f5fa 0%, #f5f8fd 36%, #ffffff 36%, #ffffff 85%, #ffffff 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, #f0f5fa), color-stop(36%, #f5f8fd), color-stop(36%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #ffffff));
background: -webkit-linear-gradient(45deg, #f0f5fa 0%, #f5f8fd 36%, #ffffff 36%, #ffffff 85%, #ffffff 100%);
background: -o-linear-gradient(45deg, #f0f5fa 0%, #f5f8fd 36%, #ffffff 36%, #ffffff 85%, #ffffff 100%);
background: -ms-linear-gradient(45deg, #f0f5fa 0%, #f5f8fd 36%, #ffffff 36%, #ffffff 85%, #ffffff 100%);
background: linear-gradient(45deg, #f0f5fa 0%, #f5f8fd 36%, #ffffff 36%, #ffffff 85%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5fa', endColorstr='#ffffff', GradientType=1 );
}

.marginBox {
    margin: 9rem 0 6rem;
}

.frthSectionBox {
    max-width: 1170px;
    min-height: 50%;
    display: flex;
    margin: 3em auto;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 10px 20px 10px rgba(0,0,0,.2);
}

.leftAside {
    height: 100%;
    width: 50%;
}

.rightAside {
    border-left: 1px solid rgba(0,0,0,.2);
    width: 50%;
    padding: 4em 3em;
}

.rightAside p {
    font-size: 17px;
}

.rightAside footer {
    margin: 2.7em 0 0;
}

.rightAside h2 {
    margin: 2.2em 0;
}

.circle {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #00d4ff;
}

.portfolioBtn {
    border-radius: 3em;
    background: white;
    border: 2.2px solid rgba(0, 0, 0, 0.2);
    font-weight: 700;
    opacity: 0.8;
}

.bottomLine h2 {
    max-width: 730px;
    width: 43%;
    margin: auto;
    font-size: 42px;
}

.bottomLine hr {
    color: white;
}

.input {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
}

.bottomBox {
    max-width: 612px;;
    display: flow-root;
    width: 36%;
    margin: auto;
    font-size: 17px;
    text-align: left;
}

.input::placeholder {
    color: white;
}

.bottomInput {
    margin-bottom: 14px;
    padding: 1em;
    height: 64px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 0.3);
}

.lastInput {
    height: 220px;
} 
/* need to make code for breaking the line on the last input */

.lastInput .input {
    width: 100%;
}

.bottomBtn {
    margin: 2em auto 7em;
    box-shadow: none;
}

.bottomFooter {
    border-top: 2px solid rgba(255,255,255, 0.5);
    padding: 1.5em 6em 1.5em 7em;
}

.footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1854px;
    margin: auto;
}

.bottomFooter ul {
    list-style-type: none;
    display: flex;
}

.bottomFooter ul li {
    margin: 1em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .section-md-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxBorder {
        max-width: 320px !important;
        margin-bottom: 4em;
    }
    .marginBox {
        margin: 6rem 0 0rem;
    }
    .frthSectionBox {
        margin-bottom: 6em;
    }
    .box1 , .box2 {
        margin: 4em auto ;
    }
    .box3 {
        margin-bottom: 0;
    }
    .hiddenNav {
        height: 1201px;
    }
}