/* anchor tag smooth scoroll */
html{scroll-behavior:smooth}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.navHead {
    background-image: linear-gradient(#00d4ff, #0d2c7a);
    color: white;
    margin: auto;
    min-height: 1011px;
    max-height: 100%;
    font-weight: 700;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;

}

p, .myButn, .thrdSecContainer h2, .frthSection aside h2 {
    font-size: 24px;
}

h2 {
    font-size: 42px;
}

.hiddenNav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.2s linear;
}

.transitionNav {
    transition: all 0.2s linear;
}

.hiddenNav ul li {
    list-style-type: none;
    margin: 10em;
}

.hiddenNav ul li a {
    font-size: 42px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.hiddenNav ul li a:hover {
    color: white;
}

.myList { 
    list-style-type: none;
    display: inline-flex;
    justify-content: space-evenly;
    width: 508px;
    text-transform: uppercase;
    padding-left: 0;
    margin: auto 0;
}

.myNav {
    display: flex;
    justify-content: space-between;
    max-width: 1854px;
    width: 85%;
    margin: auto;
    padding-top: 2em;
}

.collapseBtn {
    display: none;
}

.escapeCollapse {
    float: left;
}

.collapseEscapeBtn {
    font-size: 32px;
    background-color: transparent;
    border: none;
    color: #818181;
    position: absolute;
    left: 3.6em;
    top: 1.4em;
    outline: none !important;
}

.collapseEscapeBtn:hover {
    color:white;
}

.x-slash {
    position: relative;
    left: -49px;
    transform: rotate(97deg);
}

.y-slash {
    transform: rotate(7deg);
}

.navBtn {
    color: white !important;
    border-color: rgba(255,255,255,.4) !important;
    outline: none !important;
}

.navBtn:hover {
    color: white;
}

@media screen and (max-width: 1360px) {
    .collapseBtn {
        display: block;
    }
    .myList{
        display: none;
    }
    .hiddenNav {
        height: 1210px;
    }
}

a:hover {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    transform: scale(1.1);
}

.myBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 3em;
    width: 205px;
    height: 54px;
    margin-right: 25px;
    color: white;
    box-shadow: 0 0 7px;
}

.insideBtn {
    border: none;
    background-color: transparent;
    margin: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.logo {
    height: 22px;
    position: relative;
    top: -2.5em;
}



.headPosition {
    padding: 8.81em 0;
}

.sndSection h2 {
    font-size: 42px;
}

#headPosition {
    padding: 8.81em 0 2em;
}

.insideSectionHead {
    width: 60%;
    margin: 8em auto 0;
}

.insideSectionHead .textOpacity {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 24px;
    margin: auto;
}

.insideSectionHead p {
    font-size: 24px;
    font-weight: 400;
}

.headSectionParagraph {
    font-size: 72px !important;
    font-weight: 700 !important;
    max-width: 1019px;
    margin: 0 auto;
}

.sndSection {
    height: fit-content;
    /* background: #ffffff; */
    /* background: rgba(255,255,255,1); */
/* background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(74%, rgba(246,250,253,1)), color-stop(82%, rgba(249,250,254,1)), color-stop(100%, rgba(244,247,252,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(246,250,253,1) 60%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f7fc', GradientType=1 ); */
background: conic-gradient(from 0.19turn at 50% 68%, #f6fafd, 250deg, white, 360deg, white);
}

.between-sections {
    background: rgb(255,255,255);
    background: linear-gradient(-183deg, #f6fafd 0%, rgba(240,245,249,1) 100%);
    padding: 8.81em 0 4.5em;
}

.controlSize {
    max-width: 940px;
    width: 95%;
    margin: auto;
    margin-top: 0.5em;
}

.myButn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 105px; 
    width: 526px;
    background-color: #41BFE7;
    border-radius: 4em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    margin: 4em auto 6em;
}

.sndSection h4{
    color: #40bee6;
}

.bottomLine .myButn{
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);

}


.sndSection .myButn{
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    margin: 2.5em auto 0;
}

.sndSecFirstArticle {
    max-width: 710px;
    width: 50%; 
    margin: auto;
    text-align: left;
}

.sndSecFirstArticle p, .sndSecSecondArticle p, .sndSecThirdArticle p {
    font-size: 17px !important;
}

.imageLaptop {
    margin: 1.2rem 0 0;
}

.sndSecThirdArticle {
    margin: 0 auto 5em;
    padding: 6rem 5rem 1rem;
    min-height: 385px;
    max-width: 825px;
    width: 58.5%;
    background-color: white;
}

.sndSecThirdArticle footer {
    margin: 3.6em 0 0;
    font-weight: 700;
}
.sndSecThirdArticle footer p span {
    color: #0B9ED4;
}

.thrdSection {
    background-image: linear-gradient( to left, #0B9ED4, #0F2C7A);
    color: white;
    min-height: 1327px;
}

.thrdSection .container {
    color: black;
    padding: 0;
}

.aboveBox {
    max-width: 775px;
    width: 55%;
    margin: auto;
}

hr {
    width: 70px;
    height: 4px !important;
    background-color: #e6e7e9;
    border: none;
    margin: 2.25em auto !important;
    border-top: 1px solid #e6e7e9 !important;
}

.bottomLine {
    /* background-image: linear-gradient( #00d4ff, #0d2c7a); */
    background: conic-gradient(from 0.69turn at 50% 71%, #0e4597,#0e6daf, 140deg, #0b75b3, 220deg, #0d2c7a);
    color: white;
    padding: 6.5em 0 0;
}

.sliderDot, .owl-dot {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: black !important;
    margin: 0.3rem;
    opacity: 0.3;
    margin: 0.8rem 0.3rem;
}

.owl-prev , .owl-next{
    border: 0.5px solid rgba(0, 0, 0, 0.2) !important;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    margin: 0 4rem;
    background-color: white !important;
    box-shadow: 0 0 3px;
}

.active {
    opacity: 1;
}

.arrowsAndDots {
    display: flex;
    justify-content: center;
    margin: 3rem 0 6em;
    cursor: pointer;
}

.arrowsAndDots span {
    font-size: 3rem;
    position: relative;
    top: -24.3px;
    opacity: 0.5;

}

.firstBtn span {
    left: -1.5px;
}

.secondBtn span {
    left:  1.5px;
}

.boxBorder {
    background-color: white;
    max-width: 370px;
    min-height: 332px;
    margin: 0 1.18em;
    text-align: left;
    min-width: 25%;
    border-radius: 5px;
    padding: 0 1.5em 1em 2.5em !important;
}

.boxBorder .circle {
    height: 109px;
    width: 109px;
    background-color: #00d4ff;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -54.5px;
    color: white;
}

.box1 {
    margin-left: 10%;
}

.box2 {
    margin-left: 23.5%;
}

.boxBorder h2 {
    font-size: 24px;
    margin: 0 0 1em;
}

.boxBorder p {
    font-size: 17px;
    margin-bottom: 2em;
}

.btStrapWidth {
    max-width: 6.3% !important;
}

.frthSection {
    height: fit-content;
    padding: 8.81em;
    /* background: #f0f5fa;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(73%, rgba(255,255,255,1)), color-stop(74%, rgba(246,250,253,1)), color-stop(82%, rgba(249,250,254,1)), color-stop(100%, rgba(244,247,252,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 74%, rgba(246,250,253,1) 74%, rgba(249,250,254,1) 82%, rgba(244,247,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f7fc', GradientType=1 );
} */
    background: conic-gradient(from -65deg, white 45%, #f0f5fa 50%);
}

.marginBox {
    margin: 9rem 0 6rem;
}

.frthSectionBox {
    max-width: 1170px;
    min-height: 50%;
    display: flex;
    margin: 3em auto;
    text-align: left;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,.2);
}

.leftAside {
    height: 100%;
    width: 50%;
}

.rightAside {
    border-left: 1px solid rgba(0,0,0,.2);
    width: 50%;
    padding: 4em 3em;
}

.rightAside p {
    font-size: 17px;
}

.rightAside footer {
    margin: 2.7em 0 0;
}

.rightAside h2 {
    margin: 2.2em 0;
}

.circle {
    font-size: 3rem;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #00d4ff;
}

.portfolioBtn {
    border-radius: 3em;
    background: white;
    border: 2.2px solid rgba(0, 0, 0, 0.2);
    font-weight: 700;
    opacity: 0.8;
    outline: none !important;
}

.portfolioBtn:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.bottomLine h2 {
    max-width: 730px;
    width: 43%;
    margin: auto;
    font-size: 42px;
}

.hover-effect:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.bottomLine hr {
    color: white;
}

.input {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
    outline: none;
    width: 100%;
}

#complain {
    height: 95%;
    width: 92%;
    background-color: transparent;
    border: none;
    color: white;
    overflow: hidden;
}

.bottomBox {
    max-width: 612px;;
    display: flow-root;
    width: 36%;
    margin: auto;
    font-size: 17px;
    text-align: left;
}

.margin-right {
    margin-right: 0.3em;
}

.input::placeholder {
    color: white;
}

.bottomInput {
    margin-bottom: 14px;
    padding: 1em;
    height: 64px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 0.3);
    display: flex;
    align-items: baseline;
}

.lastInput {
    height: 220px;
    display: flex;
    align-items: baseline;
} 
/* need to make code for breaking the line on the last input */

.lastInput .input {
    width: 100%;
}

.bottomBtn {
    margin: 2em auto 7em;
    box-shadow: none;
}

.bottomFooter {
    border-top: 2px solid rgba(255,255,255, 0.5);
    padding: 1.5em 6em 1.5em 7em;
}

.footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1854px;
    margin: auto;
}

.bottomFooter ul {
    list-style-type: none;
    display: flex;
}

.bottomFooter ul li {
    margin: 1em;
    font-size: 14px;
    font-weight: 700;
}

.logoContainer {
    font-size: 26px;
    position: relative;
    top: 3em;
    max-width: 250px;
    margin: auto;

}

.margin-logo {
    margin: 0.3em;
}

.margin-logo:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.footerBox ul li:hover {
    transform: scale(1.2);
}

.thunder-logo {
    height: 60%;
    position: relative;
    top: 1em;
    left: 26px;
}

.service-logo {
    position: relative;
    left: 31px;
    top: 18px;
}

.code-logo {
    left: 25px;
}

.left-position {
    left: 28px;
}

.normal-font {
    font-size: 1rem;
}

.round-button-back-top {
    position: fixed;
    left: 90%;
    bottom: 15%;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255, 0.5);
    background-color: transparent;
    color: rgb(0, 75, 135);
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    box-shadow: 0 0 25px #41BFE7;
    display: none;
}
.round-button-back-top:hover {
    transform: scale(1.4);
    color: #41BFE7;
}
.round-button-back-top.scrolled {
    display: block;
}

@media screen and (max-width: 1543px) {
    .navHead {
        min-height: 1210px;
    }
}

@media screen and (max-width: 992px) {
    .section-md-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .boxBorder {
        max-width: 320px !important;
        margin-bottom: 4em;
    }
    .marginBox {
        margin: 6rem 0 0rem;
    }
    .frthSectionBox {
        margin-bottom: 6em;
    }
    .box1 , .box2 {
        margin: 4em auto ;
    }
    .box3 {
        margin-bottom: 0;
    }
    .hiddenNav {
        height: 1270px;
    }
    .navHead {
        min-height: 1270px;
    }
    .round-button-back-top {
        bottom: 7%;
    }
}

/* owl-slider classes */

.owl-prev, .owl-next {
    outline: none !important;
}

.owl-nav {
    position: relative;
    top: 8em;
}

.owl-prev:hover, .owl-next:hover,  ul li:hover {
    transform: scale(1.2);
}

.owl-dots {
    position: relative;
    top: 6em;
    max-width: 120px;
    margin: auto;
}
